<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <script src="https://use.fontawesome.com/585d303aa0.js"></script>
</head>
<body class="bg-gif bg centrar">
  <div class="col-9 col-lg-7 container-img-game bg">
    <div class="row">
      <a class="ml-4 float-left" href="home.html"><span class="fa fa-chevron-left" aria-hidden="true"> Regresar</span></a>
    </div>
    <br>
    <h5 class="title1">¿Qué película verán hoy?</h5>
    <div class="row">
      <div class="col-8 offset-2">
        <button id="btn-change" type="button" class="btn-green btn btn-success col-12">Gira ahora!</button>
        <button id="btn-stop" type="button" class="btn-green btn btn-success col-12">Stop!</button>
      </div>
    </div>
    <div class="row centrar">
      <div class="col-12 col-lg-6 centrar p-4">
        <img id="img" class="img-movies col-12 col-lg-9" src="../assets/images/cine.jpg" data-toggle="modal" data-target="#modal-info">
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-12 centrar">
                <h5 class="modal-title" id="name-movie"></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-lg-6 p-5 p-lg-2">
              <img id="img-movie" src="../assets/images/cine.jpg" class="img-two">
            </div>
            <div class="col-12  col-lg-6 centrar">
              <p id="plot-movie"></p>
            </div>
            <br>
            <div class="col-12">
              <p id="actors-movie"></p>
            </div>
            <div class="col-12">
              <p id="year-movie"></p>
            </div>
            <div class="col-12">
              <p id="rated-movie"></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Agregar a Lista</button> -->
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script type="text/javascript" src="../js/game.js"></script>
</body>
</html>